/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/merriweather-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/merriweather-v28-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/merriweather-v28-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/merriweather-v28-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/merriweather-v28-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/merriweather-v28-latin-regular.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/merriweather-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/merriweather-v28-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/merriweather-v28-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/merriweather-v28-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/merriweather-v28-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/merriweather-v28-latin-700.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/inter-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/inter-v8-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/inter-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/inter-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/inter-v8-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v8-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/inter-v8-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/inter-v8-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/inter-v8-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/inter-v8-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/inter-v8-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  color: white;
}
.section-title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
  padding-top: 100px;
  max-width: 700px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.section-title__left-right-line {
  text-align: center;
}
.section-title__left-right-line::before {
  content: "";
  border-bottom: 2px solid #bdae82;
  width: 50%;
  height: 0.5em;
  position: absolute;
  top: 0px;
  padding-top: 120px;
  margin-left: calc(-50% - 20px);
}
.section-title__left-right-line::after {
  content: "";
  border-bottom: 2px solid #bdae82;
  width: 50%;
  height: 0.5em;
  position: absolute;
  top: 0px;
  padding-top: 120px;
  margin-left: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.section {
  padding: 0 20px;
  background-color: black;
}
.section:first-child {
  background: transparent;
}
/* header start */
.header {
  background: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}
.nav {
  margin-left: auto;
}
.switch-lng {
  color: white;
  padding-right: 20px;
}
.nav-list,
.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list__link {
  padding: 20px 30px;
  line-height: 50px;
  text-decoration: none;
  transition: color 0.3s;
  color: white;
}
.nav-list__link:hover,
.nav-list__link:active,
.nav-list__link:focus {
  color: #bdae82;
}
.icon {
  width: 50px;
  height: 50px;
  padding: 20px;
}
.header__logo-link {
  transition: 0.3s;
}
.header__logo-link:hover {
  filter: invert(21%) sepia(7%) saturate(1339%) hue-rotate(7deg) brightness(87%)
    contrast(93%);
}
/* header end */

/* hero section start */
.main__background {
  background-image: url(./assets/img/bg.jpg);
  background-position: center -103px;
  background-repeat: no-repeat;
  height: 807px;
}
.hero-section__text {
  width: 500px;
  height: 330px;
  padding: 160px 0 317px 80px;
}
.hero-section__text h1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
.hero-section__text p {
  padding-bottom: 25px;
}
.button {
  width: 220px;
  height: 55px;
  background-color: #bdae82;
  border: 0;
  transition: 0.3s;
}
.button:hover,
.button:active,
.button:focus {
  color: white;
}
/* hero section end */

/* skills start */

/* skills end */
